<div class="container-fluid pt-5 bg-white">
          <div class="card">
                <div class="card-header">
                      <strong>List of VesselSchedule</strong>
                      <button type="button" class="btn btn-info add-new pull-right" (click)="openModal(editVesselScheduleModal,null)"><i
                        class="fa fa-plus"></i> Add New</button>
                </div>
                <div class="card-body">
                      <table class="table my-responsive table-striped  table-responsive-sm table-sm">
                          <thead class="">
                              <tr>
                                <th>Id</th>
                                <th>Vessel Name</th>
                                <th>Voyage No</th>
                                <th>Origin Terminal</th>
                                <th>Est Origin Arrival Date</th>
                                <th>Est Berth Date</th>
                                <th>Est Gate Open Date</th>
                                <th>Est Cut Off Date</th>
                                <th>Est Departure Date</th>
                                <th>Destination Terminal</th>
                                <th>Est Dest Arrival Date</th>
                                <th>Origin Port</th>
                                <th>Destination Port</th>
                                <th> Action </th>
                      
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let vesselschedule of  vesselScheduleList; let index=index;">
                                <th data-title="Id">{{vesselschedule.id }}</th>
                                <td data-title="Vessel Name">{{vesselschedule.vesselName}}</td>
                                <td data-title="Voyage No">{{vesselschedule.voyageNo}}</td>
                                <td data-title="Origin Terminal">{{vesselschedule.originTerminal}}</td>
                                <td data-title="Est Origin Arrival Date">{{vesselschedule.estArrOriDate|date:'mediumDate'}}</td>
                                <td data-title="Est Berth Date">{{vesselschedule.estBerthDate |date:'mediumDate'}}</td>
                                <td data-title="Est Gate Open Date">{{vesselschedule.estGateOpenDate|date:'mediumDate'}}</td>
                                <td data-title="Est Cut Off Date">{{vesselschedule.estCutOffDate|date:'mediumDate'}}</td>
                                <td data-title="Est Departure Date">{{vesselschedule.estDepDate|date:'mediumDate'}}</td>
                                <td data-title="Destination Terminal">{{vesselschedule.destinationTerminal}}</td>
                                <td data-title="Est Dest Arrival Date">{{vesselschedule.estArrDestDate|date:'mediumDate'}}</td>
                                <td data-title="Origin Port">{{vesselschedule.originPort.portCode}}</td>
                                <td data-title="Destination Port">{{vesselschedule.destinationPort.portCode}}</td>
                                <td><button type="button" class="btn btn-primary"
                                    (click)="openModal(editVesselScheduleModal,vesselschedule)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"
                                    (click)="delete(vesselschedule.id, index);"><i class="fa fa-trash"></i></button>
                      
                              </tr>
                            </tbody>
                      </table>
                </div>
          </div>
</div>
  <ng-template   #editVesselScheduleModal let-modal class="font-sm">
    <div class="modal-header">
      <h5 class="modal-title" id="editVesselScheduleLabel">Edit VesselSchedule</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="editVesselScheduleForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">

        <div class="row font-sm">
          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
            <input type="hidden" class="form-control" formControlName="id" id="id">
            <input type="hidden" formControlName="isActive" id="isActive" />
            <input type="hidden" class="form-control" formControlName="updatedAt" id="updatedAt">
            <input type="hidden" class="form-control" formControlName="updatedBy" id="updatedBy">
            <input type="hidden" class="form-control" formControlName="createdAt" id="createdAt">
            <input type="hidden" class="form-control" formControlName="createdBy" id="createdBy ">
            <label for="vessel">Vessel</label>
        
            <input type="text" formControlName="vesselName" id="vesselName" class="form-control">
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
            <label for="voyage No">Voyage No</label>
            <!-- <div *ngIf="editVesselScheduleForm.controls['voyageNo'].invalid && (editVesselScheduleForm.controls['voyageNo'].dirty 
              || editVesselScheduleForm.controls['voyageNo'].touched)" class="alert alert-danger">
              <div *ngIf="editVesselScheduleForm.controls['voyageNo'].errors.required">
                Voyage No required.
              </div>
            </div> -->
            <input type="text" formControlName="voyageNo" id="voyageNo" class="form-control">
          </div>
        </div>
        <div class="row header">
          <div class="col">
            <label>Origin</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
         
            <label for="origin_city">City</label>
    
<!-- 
            <div *ngIf="editVesselScheduleForm.controls['originCity'].invalid && (editVesselScheduleForm.controls['originCity'].dirty 
        
              || editVesselScheduleForm.controls['originCity'].touched)" class="alert alert-danger">
              <div *ngIf="editVesselScheduleForm.controls['originCity'].errors.required">
                City Name required.
              </div>
            </div> -->


            <!--<input type="text" formControlName="origin_city" id="origin_city" class="form-control">-->
            <select formControlName="originCity"  (change)="onCityChange($event)" class="form-control">
              <option value="">city</option>
              <option *ngFor="let city of orginCities" selected="{{city.value===originCity}}" value="{{city.value}}">
                {{city.label}}</option>
            </select>
        
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
          
            <label for="originPort">Port</label>

            <!-- <div *ngIf="editVesselScheduleForm.controls['originPortId'].invalid && (editVesselScheduleForm.controls['originPortId'].dirty 
      
                || editVesselScheduleForm.controls['originPortId'].touched)" class="alert alert-danger">
              <div *ngIf="editVesselScheduleForm.controls['originPortId'].errors.required">
                Origin Port Name required.
              </div>
            </div> -->

            <!--<input type="text" formControlName="originPort" id="originPort" class="form-control">-->
            <select formControlName="originPortId" class="form-control" >
              <option value="">Origin Port</option>
              <option *ngFor="let port of originPorts" selected="{{port.id===originPortId}}" value="{{port.id}}">
                {{port.portDescription}}</option>
            </select>
             
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="originTerminal">Terminal</label>
            <input type="text" formControlName="originTerminal" id="originTerminal"
              class="form-input">
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estArrOriDate">Est Arrival</label>
            <input type="date" formControlName="estArrOriDate" id="estArrOriDate" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estBerthDate">Est Berthing</label>
            <input type="date" formControlName="estBerthDate" id="estBerthDate" class="form-control">
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estGateOpenDate">Est Gate Opening</label>
            <input type="date" formControlName="estGateOpenDate" id="estGateOpenDate"
              class="form-control">
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estCutOffDate">Est Cut-Off</label>
            <input type="date" formControlName="estCutOffDate" id="estCutOffDate" class="form-control">
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estDepDate">Est Departure</label>
           
              <div class="alert alert-danger" *ngIf="editVesselScheduleForm.controls['estDepDate'].value > editVesselScheduleForm.controls['estArrDestDate'].value">
             Departure Date is less than Origin Arrival required.
              </div>
         
            <input type="date" formControlName="estDepDate" id="estDepDate" class="form-control">
          </div>
        </div>
        <div class="row header">
          <div class="col"><label>Destination</label></div>
        </div>
        <div class="row">
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
          
            <label for="destinationCity">City</label>
            <!-- <div *ngIf="editVesselScheduleForm.controls['destinationCity'].invalid && (editVesselScheduleForm.controls['destinationCity'].dirty 
      
              || editVesselScheduleForm.controls['destinationCity'].touched)" class="alert alert-danger">
              <div *ngIf="editVesselScheduleForm.controls['destinationCity'].errors.required">
                Destination City is required.
              </div>
            </div> -->
            <select formControlName="destinationCity" class="form-control"
              (change)="onCityChange($event)">
              <option value="">Dest. City</option>
              <option *ngFor="let city of destCities" selected="{{city.value===destinationCity}}"
                value="{{city.value}}">{{city.label}}</option>

            </select>
         

          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
    
            <label for="destinationPort">Port</label>
            <!-- <div *ngIf="editVesselScheduleForm.controls['destinationPortId'].invalid && (editVesselScheduleForm.controls['destinationPortId'].dirty 
      
              || editVesselScheduleForm.controls['destinationPortId'].touched)" class="alert alert-danger">
              <div *ngIf="editVesselScheduleForm.controls['destinationPortId'].errors.required">
                Destination port is required.
              </div>
            </div> -->

            <select formControlName="destinationPortId" class="form-control" (change)="onPortChange();">
              <option value="">Dest. Port</option>
              <option *ngFor="let port of destPorts" selected="{{port.id===destinationPortId}}" value="{{port.id}}">
                {{port.portDescription}}</option>

            </select>
  

          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="destinationTerminal">Terminal</label>
            <input type="text" formControlName="destinationTerminal" id="destinationTerminal"
              class="form-control">
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
            <label for="estArrDestDate">Est Arrival</label>
            <input type="date" formControlName="estArrDestDate" id="estArrDestDate"
              class="form-control">
          </div>
        </div>
        <div class="row header">
          <div class="col"><label>Transits</label></div>
        </div>


        <form class="For-Group" [formGroup]="TransitListForm">

          <div formArrayName="items">
            <div id="no-more-tables">
              <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">


                  <tr>
                    <th [hidden]="!hideBE">scheduleDetailId</th>
                    <th [hidden]="!hideBE">Schedule Id</th>

                    <th class="font-sm">Transit Port</th>
                    <th  class="font-sm" >Transit Terminal</th>
                    <th  class="font-sm">Exp Arrival</th>
                    <th  class="font-sm">Exp Departure</th>
                    <th  class="font-sm">Is Load Avb</th>
                    <th  class="font-sm">Is Deli avb</th>
                    <th class="font-sm">Transit Route No</th>

                    <th [hidden]="!hideBE">Created By</th>
                    <th [hidden]="!hideBE">Created At</th>
                    <th [hidden]="!hideBE">Updated By</th>
                    <th [hidden]="!hideBE">Updated At</th>
                    <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let x of TransitListForm.get('items').controls;let i=index;trackBy:track"
                    [formGroupName]="i">
                    <td [hidden]="!hideBE" data-title="scheduleDetailId"><input class="form-control"
                        formControlName="id" placeholder="Item name"></td>
                    <td [hidden]="!hideBE" data-title="Schedule Id"><input class="form-control"
                        formControlName="scheduleId" placeholder="Item name"></td>
                    <td data-title="Transit Port">    <div class="select-list"><select  formControlName="transitPortId">
                        <option value="" disabled>Trn Port</option>


                        <option *ngFor="let port of transitPorts" selected="{{port.id===transitPortId}}"
                          value="{{port.id}}">{{port.longDescription}}</option>





                      </select>
                    </div>



                    </td>
                    <td data-title="Transit Terminal"><input class="form-control-xs" maxlength="10"
                        formControlName="transitTerminal" placeholder="Terminal"></td>
                    <td data-title="Exp Arrival"><input type="date" class="form-control-xs"
                        formControlName="expArrival"></td>
                    <td data-title="Exp Departure"><input type="date" class="form-control-xs"
                        formControlName="expDeparture"></td>
                    <td data-title="Is Load Avb"><input class="form-control-xs" type="checkbox"
                        formControlName="isLoadingAvailable"></td>
                    <td data-title="Is Deli Avb"><input class="form-control-xs" type="checkbox"
                        formControlName="isDeliveryAvailable"></td>
                    <td data-title="Transit Route No"><input class="form-control-xs" formControlName="transitRouteNo"
                        placeholder="Route No"></td>
                    <td [hidden]="!hideBE" data-title="Created By"><input class="form-control"
                        formControlName="createdBy"></td>
                    <td [hidden]="!hideBE" data-title="Created At"> <input class="form-control"
                        formControlName="createdAt"></td>
                    <td [hidden]="!hideBE" data-title="Updated By"> <input class="form-control"
                        formControlName="updatedBy"></td>
                    <td [hidden]="!hideBE" data-title="Updated At"> <input class="form-control"
                        formControlName="updatedAt"></td>
                    <td><button class="btn btn-secondary" (click)="deleteTransitItem(i)"><i
                          class="fa fa-trash"></i></button></td>
                  </tr>



                </tbody>
              </table>
            </div>
          </div>
          <!-- <button class="btn btn-primary" (click)="getExistingTransitData()">Refresh</button> -->
          <button class="btn btn-secondary" (click)="addTransit()">Add New Transit</button>
          <!-- <button class="btn btn-primary" (click)="submitTransitDetails()" [disabled]="TransitListForm.invalid">Submit</button> -->

        </form>






      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary" 
         >Submit</button>
          <button type="submit" class="btn btn-primary"  *ngIf="!editVesselScheduleForm.controls['isActive']" (click)="saveData();"
          [disabled]="editVesselScheduleForm.invalid || TransitListForm.invalid">Save changes</button>
      </div>
    </form>
  </ng-template>
 