
     <div id="detail-content-sticky-nav-05" class="container-fluid p-0" *ngIf="data.length>0"> 
 

      <h4 class="heading-title"></h4>

  
    


    
      
     
      <div class="mb-20"></div>
      
      <div class="item-text-long-wrapper">
         
    
          <div class="item-heading text-muted">
          
            <div class="row d-none d-sm-flex brand-color text-white ml-1 mr-1">
                 
                  <div class="col-md-1 col-sm-12">
                      <span class="font-sm"> <strong>S.No </strong></span>
                    </div>
                    <div class="col-md-2 col-sm-12">
              
                    <span class="font-sm"> <strong>Vessel Name </strong></span>
                  </div>
                  <div class="col">From</div>
            
                  <div class="col">Transits</div>
     
                  <div class="col text-center">To</div>
     
                  <div class="col-md-3 text-center">
                    <div class="row text-center">
                  <div class="col">Origin Charges</div>
                  <div class="col">Freight Charges</div>
                </div>
                </div>


                  <div class="col md-1 text-center">Action</div>
          </div>
           
        <div *ngFor="let item of data;let index = index;"> 
            <div class="card">
                <app-current-order [index]=index [itemData]  = "item"  [searchItem]="searchvalues" [oriFxVal]=null [destFxVal]=null></app-current-order>
             </div>
             
             

             
      
      </div>
    </div>
      <div class="mb-50"></div>
      
    </div>
    
     
  


          
 