/**********************
/***** Services *******
/*********************/

section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background-color: transparent;
    margin-top: 40px;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}


 
.get-started{
	text-align:center;
	position: relative;
	/* background:#355b83; */
}
.get-started > div.bg {
	position: absolute;;
	left:0;
	right:0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .6;
}
.get-started .small-title {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
}
.get-started .main-title {
	font-size: 38px;
	color: #fff;
	font-weight: 400;
	margin: 30px 0 30px 0;
	display: block;
}
.get-started .des{
	font-size:15px;
	color:#fff;
	font-weight:500;
}
.get-started .btn {
	background: #fff;
	margin-top: 40px;
	font-size: 14px;
	color: #006DFE;
	border: 1px solid transparent;
	font-weight: 600;
}
.get-started .btn:hover{
	border-color:#fff;
	color:#fff;
	background:transparent;
}


 

.dotted-line {
  border: 1px dashed #355b83
}


 

.centered {
  position: absolute;
  top: 40%;
  left: 45%
}

button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 6px;
  background-color: black;
  color: white;
  font-size: 1.03em;
  box-shadow: 3px 3px #007bff
}

button:hover {
  width: 130px;
  height: 50px;
  border-radius: 10px;
  padding: 6px;
  background-color: black;
  color: white;
  transition: all 0.4s ease 0s;
  font-size: 1.02em;
  box-shadow: 3px 3px #007bff
}

button span {
  opacity: 0
}

button:hover span {
  opacity: 1;
  transition: all 0.3s ease 0s
}

button:hover span:after {
  content: "BOOTSTRAP"
}

button:after span {
  opacity: 1;
  transition: all 0.5s ease 0s
}

