<div class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="assets/img/logo.png" class="logo img-responsive">
                <p>We are a team of supply chain and technology professionals on a mission to make international logistics simple.</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Who We Are</h4>
                <ul class="list-unstyled">
                    <li><i>▶</i><a href="#">About Us</a></li>
                    <li><i>▶</i><a href="#">Careers</a></li>
                    <li><i>▶</i><a href="#">Our Team</a></li>
                    <li><i>▶</i><a href="#">Contacts</a></li>
                    <li><i>▶</i><a href="#">News & Media</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>What We Do</h4>
                <ul class="list-unstyled">
                    <li><i>▶</i><a href="#">Warehousing</a></li>
                    <li><i>▶</i><a href="#">Air Freight</a></li>
                    <li><i>▶</i><a href="#">Ocean Freight</a></li>
                    <li><i>▶</i><a href="#">Road Freight</a></li>
                    <li><i>▶</i><a href="#">Supply Chain</a></li>
                </ul>
            </div>
            <div class="col-sm-3 follow">
                <h4>Follow Us</h4>
                <ul class="list-unstyled list-inline no-margin socialmedia">
                    <li><a href="#" class="fx-facebook" style="color:#3b5998"></a></li>
                    <li><a href="#" class="fx-twitter" style="color:#1da1f2"></a></li>
                    <li><a href="#" class="fx-linkedin" style="color:#0e76a8"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="no-margin">Copyright © 2021 - <span class="text-blue">Freightogix</span> - All Rights Reserved</p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-inline list-unstyled no-margin">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>