  
<div class="container-fluid pt-1 bg-white" >
<div class="header section">
  <div class="container">
      <h2>Get your instant ocean freight quote</h2>
      <h4>Shipping, trucking, customs, and insurance in just seconds</h4>
      <div class="search-section">
          <div class="row">
              <div class="col-sm-4">
                  <label>ORIGIN OF SHIPPING</label>
                  <input type="text" class="form-control" placeholder="Enter Origin Port">
              </div>
              <div class="col-sm-4">
                  <label>DESTINATION OF SHIPPING</label>
                  <input type="text" class="form-control" placeholder="Enter Destination Port">
              </div>
              <div class="col-sm-2">
                  <label>CONTAINERS</label>
                  <input type="text" class="form-control" placeholder="Enter Containers">
              </div>
              <div class="col-sm-2">
                  <button class="btn btn-primary btn-block">Search</button>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="section services">
  <div class="container">
      <div class="heading">
          <div class="row">
              <div class="col-sm-6">
                  <h4 class="text-blue">Real Solutions, Real Fast!</h4>
                  <h2>Delivering the Best Global
                      Logistics Solutions.</h2>
              </div>
              <div class="col-sm-6">
                  <h4 class="text-gray">Our global logistics expertise, advanced supply chain technology &
                      customized logistics solutions will help you analyze, develop and
                      implement successful supply chain management strategies.
                      </h4>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
              <div class="card">
                  <i class="fx-airplane"></i>
                  <h4>Air Freight</h4>
                  <p class="text-gray">We can arrange and provides with the comprehensive service in the sphere of urgent, valuable, fragile or any cargoes conscientious accelerated delivery by air.                            </p>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <i class="fx-cargo"></i>
                  <h4>Ocean Freight</h4>
                  <p class="text-gray">We can arrange and provides with the comprehensive service in the sphere of urgent, valuable, fragile or any cargoes conscientious accelerated delivery by air.                            </p>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <i class="fx-truck"></i>
                  <h4>Road Freight</h4>
                  <p class="text-gray">We can arrange and provides with the comprehensive service in the sphere of urgent, valuable, fragile or any cargoes conscientious accelerated delivery by air.                            </p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="section features">
  <div class="container">
      <div class="heading text-center text-white">
          <h2>Why Choose Us !</h2>
          <h4>We continue to pursue that same vision in today's complex, uncertain world,
              working every day to earn our customers’ trust!</h4>
      </div>
      <div class="owl-carousel owl-theme">
          <div class="item">
              <i class="fx-instant"></i>
              <h4>Instant Quotes</h4>
              <p class="text-gray">Search for quotes instantly. No more waiting ! No more delays.</p>
          </div>
          <div class="item">
              <i class="fx-transparent"></i>
              <h4>Transparent</h4>
              <p class="text-gray">Search for quotes instantly. No more waiting ! No more delays.</p>
          </div>
          <div class="item">
              <i class="fx-tracking"></i>
              <h4>Instant Quotes</h4>
              <p class="text-gray">Search for quotes instantly. No more waiting ! No more delays.</p>
          </div>
          <div class="item">
              <i class="fx-marketplace"></i>
              <h4>Instant Quotes</h4>
              <p class="text-gray">Search for quotes instantly. No more waiting ! No more delays.</p>
          </div>
          <div class="item">
              <i class="fx-instant"></i>
              <h4>Instant Quotes</h4>
              <p class="text-gray">Search for quotes instantly. No more waiting ! No more delays.</p>
          </div>
      </div>
  </div>
</div>

<div class="section clients">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="heading">
                  <i class="fx-quote"></i>
                  <h2>Hundread of Happy Clients</h2>
                  <h4>Several of them, we asked how
                      satisfied they are with our services.
                      Here are their statements ...
                  </h4>
                  <button class="btn btn-primary">Want to become our client ?</button>
              </div>
          </div>
          <div class="col-sm-6">
              <ul class="row list-unstyled">
                  <li class="col-sm-6">
                      <div class="card">
                          <div class="icotext">
                              <div class="img-wrapper">
                                  <img src="assets/img/client.jpg" class="img-responsive">
                              </div>
                              <div class="info-section">
                                  <h4 class="text-blue">Mitchell Starc</h4>
                                  <p class="text-gray">RTW Logistics</p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <p class="no-margin">Since our association with Freightogix, we have saved at least $36,000 on our ocean freight regulations.</p>
                      </div>
                  </li>
                  <li class="col-sm-6">
                      <div class="card">
                          <div class="icotext">
                              <div class="img-wrapper">
                                  <img src="assets/img/client.jpg" class="img-responsive">
                              </div>
                              <div class="info-section">
                                  <h4 class="text-blue">Mitchell Starc</h4>
                                  <p class="text-gray">RTW Logistics</p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <p class="no-margin">Since our association with Freightogix, we have saved at least $36,000 on our ocean freight regulations.</p>
                      </div>
                  </li>
                  <li class="col-sm-6">
                      <div class="card">
                          <div class="icotext">
                              <div class="img-wrapper">
                                  <img src="assets/img/client.jpg" class="img-responsive">
                              </div>
                              <div class="info-section">
                                  <h4 class="text-blue">Mitchell Starc</h4>
                                  <p class="text-gray">RTW Logistics</p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <p class="no-margin">Since our association with Freightogix, we have saved at least $36,000 on our ocean freight regulations.</p>
                      </div>
                  </li>
                  <li class="col-sm-6">
                      <div class="card">
                          <div class="icotext">
                              <div class="img-wrapper">
                                  <img src="assets/img/client.jpg" class="img-responsive">
                              </div>
                              <div class="info-section">
                                  <h4 class="text-blue">Mitchell Starc</h4>
                                  <p class="text-gray">RTW Logistics</p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <p class="no-margin">Since our association with Freightogix, we have saved at least $36,000 on our ocean freight regulations.</p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<img src="assets/img/map.jpg" class="img-responsive">
</div>
