<section class="body-container" *ngIf="data">
  <div class="card">
    <div class="card-header">
      <strong>Availabilities</strong>
    </div>
    <div class="card-body  ">
      <div class="card table-data d-lg-none search-schedule-list">
        <div *ngFor="let item of data |  sortBy:'asc':'id'; let index = index;">
         
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-left">
                  <span class="badge device mr-3">{{index +1 }}</span>
                  <strong>{{item.vesselName}}</strong>
                  <span class="list-group-item-text"> {{item.voyageNo}}</span>
                </h5>
              </div>
              <div class="col-4 mt-1">
                <div *ngIf="item.originPort.portCode == searchItem.originCity;else templateName">
                  <h6>
                    <i class="fa fa-calendar"></i> {{item.estDepDate |date:'mediumDate'}}</h6>
                  <h6>
                    <strong>{{item.originPort.portDescription}} </strong>
                  </h6>
                  <h6>{{item.originPort.portCode}}</h6>
                </div>
                <ng-template #templateName>
                  <div *ngFor="let detail of item.details | sortBy:'asc':'expDeparture'">
                    <div *ngIf="detail.transitPort.portCode ==searchItem.originCity">
                      <span class="font-sm">
                        <strong class="d-block">
                          <i class="fa fa-calendar"></i> {{detail.expArrival |date:'mediumDate'}}</strong>
                      </span>
                      <span class="font-sm">
                        <strong class="d-block">
                          <i class="fa fa-calendar"></i> {{detail.expDeparture |date:'mediumDate'}}</strong>
                      </span>
                      <strong class="d-block">{{detail.transitPort.portDescription}}</strong>
                      <span class="font-sm">{{detail.transitPort.portCode}}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="col-4 mt-1">
                <span class="day-count mt-3">
                  <strong>{{getVesselSchedule(item).noOfDays}}</strong>
                </span>
                <div class="font-sm mt-1 text-center"> <strong>
                    days
                </strong> <div>
                    {{getVesselSchedule(item).transits}} {{getVesselSchedule(item).transPorts}}
                </div></div >
              </div>
              <div class="col-4 mt-1">
                <div *ngIf="item.destinationPort.portCode == searchItem.destinationCity;else totemplateName" class='right-holder'>
                  <h6>
                    <i class="fa fa-calendar"></i> {{item.estArrDestDate |date:'mediumDate'}}</h6>
                  <h6>
                    <strong>{{item.destinationPort.portDescription}} </strong>
                  </h6>
                  <h6>{{item.destinationPort.portCode}}</h6>
                </div>
                <ng-template #totemplateName>
                  <div *ngFor="let detail of item.details | sortBy:'asc':'expDeparture'">
                    <div *ngIf="detail.transitPort.portCode ==searchItem.destinationCity" class='right-holder'>
                      <h6>
                        <i class="fa fa-calendar"></i> {{detail.expArrival |date:'mediumDate'}}</h6>
                      <h6>
                        <strong>{{detail.transitPort.destinationPort}} </strong>
                      </h6>
                      <h6>
                          <strong>
                            {{detail.transitPort.portCode}}
                          </strong>
                      </h6>
                      <h6>
                        <i class="fa fa-calendar"></i> {{detail.expDeparture |date:'mediumDate'}}</h6>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="col-md-12 text-right button-holder">
                <a href="#" class="btn btn-primary">Book now</a>
              </div>
            </div>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <table class="table my-responsive table-striped table-responsive-sm">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Vessel Name</th>
              <th>From</th>
              <th>Transits</th>
              <th>To</th>
              <th>Book</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data |  sortBy:'asc':'id'; let index = index;">
              <td data-title="S.No">
                <span class="badge">{{index +1 }}</span>
              </td>
              <td data-title="Vessel Name">
                <h5>
                  <strong>{{item.vesselName}}</strong>
                </h5>
                <p class="list-group-item-text"> {{item.voyageNo}}</p>
              </td>
              <td data-title="From">

                <div *ngIf="item.originPort.portCode == searchItem.originCity;else templateName">
                  <span class="font-sm">
                    <strong class="d-block">
                      <i class="fa fa-calendar"></i> {{item.estDepDate |date:'mediumDate'}}</strong>
                  </span>
                  <strong class="d-block"> {{item.originPort.portDescription}}</strong>
                  <span class="font-sm">{{item.originPort.portCode}}</span>
                </div>
                <ng-template #templateName>
                  <div *ngFor="let detail of item.details | sortBy:'asc':'expDeparture'">
                    <div *ngIf="detail.transitPort.portCode ==searchItem.originCity">
                      <span class="font-sm">
                        <strong class="d-block">
                          <i class="fa fa-calendar"></i> {{detail.expArrival |date:'mediumDate'}}</strong>
                      </span>
                      <span class="font-sm">
                        <strong class="d-block">
                          <i class="fa fa-calendar"></i> {{detail.expDeparture |date:'mediumDate'}}</strong>
                      </span>
                      <strong class="d-block">{{detail.transitPort.portDescription}}</strong>
                      <div class="font-sm">{{detail.transitPort.portCode}}</div>
                    </div>
                  </div>
                </ng-template>
              </td>
              <td data-title="Transits">
                <span class="day-count mt-3">
                  <strong>{{getVesselSchedule(item).noOfDays}}</strong> days</span>
                <br>
                <span class="font-sm"> {{getVesselSchedule(item).transits}}
                  <br> {{getVesselSchedule(item).transPorts}}
                </span>

              </td>
              <td data-title="To">

                <div *ngIf="item.destinationPort.portCode == searchItem.destinationCity;else totemplateName">
                  <span class="font-sm">
                    <strong class="d-block">
                      <i class="fa fa-calendar"></i>
                      {{item.estArrDestDate |date:'mediumDate'}}</strong>
                  </span>
                  <strong class="d-block">{{item.destinationPort.portDescription}}</strong>
                  <span class="font-sm"> {{item.destinationPort.portCode}}</span>
                </div>

                <ng-template #totemplateName>

                  <div *ngFor="let detail of item.details | sortBy:'asc':'expDeparture'">
                    <div *ngIf="detail.transitPort.portCode ==searchItem.destinationCity">
                      <span class="font-sm">
                        <strong class="d-block">
                          <i class="fa fa-calendar"></i> {{detail.expArrival |date:'mediumDate'}}</strong>
                      </span>


                      <strong class="d-block">{{detail.transitPort.portDescription}} </strong>
                      <div class="font-sm">{{detail.transitPort.portCode}}</div>
                      <div class="font-sm">
                        <i class="fa fa-calendar"></i> {{detail.expDeparture |date:'mediumDate'}}</div>



                    </div>
                  </div>



                </ng-template>

              </td>
              <td>
                <a href="#" class="btn btn-primary">Book now</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>