
    <div class="container-fluid bg-white">
        <div class="row">
         <div class="col-md-12 py-4 text-center">
          <h1>List of Currency</h1>
         </div>
        </div>
        <div class="col-sm-12">
               <button type="button" class="btn btn-info add-new" 
            
               (click)="openModal(editCurrencyModal,null)"><i class="fa fa-plus"></i> Add New</button>
             </div>
          <div id="no-more-tables">
           <table class="col-md-12 table-bordered  table-condensed cf table-hover">
                   <thead class="cf">
               <tr>
                <th>Id</th>
       <th>CurrencyCode</th>
       <th>Description</th>
      
       <th>Is Active</th>
       <th>CreatedBy</th>
       <th>UpdatedBy</th>
       <th>CreatedAt</th>
       <th>UpdatedAt</th>
       <th> Action </th>
          
            </tr>
           </thead>
           <tbody>
            <tr *ngFor ="let currency of  currencyList" >
          
                <td data-title="Id">{{currency.id}}</td>
       <td data-title="CurrencyCode">{{currency.currencyCode}}</td>
       <td data-title="Description">{{currency.description}}</td>
   
       <td data-title="Is Active"><input type="checkbox" onclick="return false;" onkeydown="return false;" [checked]=currency.isActive /></td>
       <td data-title="CreatedBy">{{currency.createdBy}}</td>
       <td data-title="UpdatedBy">{{currency.updatedBy}}</td>
       <td data-title="CreatedAt">{{currency.createdAt | date:'medium'}}</td>
       <td data-title="UpdatedAt">{{currency.updatedAt | date:'medium'}}</td>
       <td>
        
        <button type="button" class="btn btn-primary" (click)="openModal(editCurrencyModal,currency)">Edit</button>
            
            </tr>
           </tbody>
          </table>
         </div>
        
       </div>

       
    <ng-template #editCurrencyModal let-modal>
        <div class="modal-header">
         <h5 class="modal-title" id="editCurrencyLabel">{{title}} Currency</h5>
         <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
        </div>
        
        <div class="modal-body">
         <form [formGroup]="editCurrencyForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="Id" class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
            <input type = "text" readonly class="form-control" formControlName="id" id="id">
            </div>
            </div>
          <div class="form-group row">
       <label for="CurrencyCode" class="col-sm-4 col-form-label">CurrencyCode</label>
       <div class="col-sm-8">
       <input type = "text" class="form-control" maxlength="5" formControlName="currencyCode" id="currencyCode"  [ngClass]  ="{ 'is-invalid': isSubmitted && currencyFormControl.currencyCode.errors }" />

       <div *ngIf="isSubmitted && currencyFormControl.currencyCode.errors" class="invalid-feedback">
           <div *ngIf="editCurrencyForm.controls['currencyCode'].errors.required">Currency Code cannot be Blank</div>
         </div>
       </div>
       </div>
       <div class="form-group row">
       <label for="Description" class="col-sm-4 col-form-label">Description</label>
       <div class="col-sm-8">
       <input type = "text" class="form-control" formControlName="description" id="description"  [ngClass]  ="{ 'is-invalid': isSubmitted && currencyFormControl.description.errors }" />
       <div *ngIf="isSubmitted && currencyFormControl.description.errors" class="invalid-feedback">
        <div *ngIf="editCurrencyForm.controls['description'].errors.required">Currency Code cannot be Blank</div>
      </div>
       </div>
       </div>
     
       <div class="form-group row">
       <label for="IsActive" class="col-sm-4 col-form-label">IsActive</label>
       <div class="col-sm-8">
     
       
    <input type="checkbox" formControlName="isActive" [checked]=isActive  id="isActive" />
       </div>
       </div>
       <div class="form-group row">
       <label for="CreatedBy" class="col-sm-4 col-form-label">CreatedBy</label>
       <div class="col-sm-8">
       <input type = "text" readonly class="form-control" formControlName="createdBy" id="createdBy">
       </div>
       </div>
       <div class="form-group row">
       <label for="UpdatedBy" class="col-sm-4 col-form-label">UpdatedBy</label>
       <div class="col-sm-8">
       <input type = "text" readonly class="form-control" formControlName="updatedBy" id="updatedBy">
       </div>
       </div>
       <div class="form-group row">
       <label for="CreatedAt" class="col-sm-4 col-form-label">CreatedAt</label>
       <div class="col-sm-8">
       <input type = "text" readonly class="form-control" formControlName="createdAt" id="createdAt">
       </div>
       </div>
       <div class="form-group row">
       <label for="UpdatedAt" class="col-sm-4 col-form-label">UpdatedAt</label>
       <div class="col-sm-8">
       <input type="text"  readonly class="form-control" formControlName="updatedAt" id="updatedAt">
       </div>
       </div>
       
           
          
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
           <button type="submit" class="btn btn-primary"
           [disabled]="editCurrencyForm.invalid"
           >Save changes</button>
          </div>
         </form>
        </div>
       </ng-template>
 
 

       