<button (click)="printPage()">print</button>

<!-- https://bootsnipp.com/snippets/BE93p -->
<div class="container">
	<div class="row border border-default">
	
		<div class="bg-dark text-center p-2 col-md-12">
			<p class="lead text-white">DRAFT BILL</p>
		</div>
	
		<!-- first row-->
	
<div class=" p-2 mb-3 col-6  d-none d-sm-block">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>
<div class="p-2 mb-3 col-6  d-block d-sm-none small">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>
<div class="p-2 mb-3 col-6 d-none d-sm-block">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>
<div class="p-2 mb-3 col-6   d-block d-sm-none small">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>

		<!--Scond row-->
		<div class="p-2 mb-3 col-6   d-none d-sm-block">
			<div contenteditable="true" class="text-dark" style="align-content:left;">
				Chris Coyier <br>
				123 Appleseed Street <br>
				Appleville, WI 53719	<br>			
				Phone: (555) 555-5555
			  </div>
				
		</div>
		<div class="p-2 mb-3 col-6   d-block d-sm-none small">
			<div contenteditable="true" class="text-dark" style="align-content:left;">
				Chris Coyier <br>
				123 Appleseed Street <br>
				Appleville, WI 53719	<br>			
				Phone: (555) 555-5555
			  </div>
				
		</div>
		<div class=" p-2 mb-3 col-6 text-right d-none d-sm-block">
			Logo
				
		</div>
		<div class=" p-2 mb-3 col-6 text-right d-block d-sm-none small">
	Logo
				
		</div>



<!--third row-->

<div class="p-2 mb-3 col-6  d-none d-sm-block">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>
<div class="p-2 mb-3 col-6   d-block d-sm-none small">
	<div contenteditable="true" class="text-dark" style="align-content:left;">
		Chris Coyier <br>
		123 Appleseed Street <br>
		Appleville, WI 53719	<br>			
		Phone: (555) 555-5555
	  </div>
		
</div>
<div class=" p-2 mb-3 col-6  d-none d-sm-block">
	<div contenteditable="false" class="text-dark" style="align-content:left;">
		<strong>RIA SHIPPING (OPC) PVT LTD</strong><br>
		ALJANTH TEXTILE BUILING<br>
		OLD NO 101, NEW NO 32, 3<sup>RD</sup> FLOOR<br>
		ARMENIAN STREET, MANNADY,NEAR KACHALEESWARAR TEMPLE<br>
		CHENNAI, TAMIL NADU, INDIA 600001<br>
		EMAIL: import@riashipping.com<br>
		H/P +91 99626 9455 PTC Ms.Amutha
	  </div>
		
</div>
<div class=" p-2 mb-3 col-6 d-block d-sm-none small">
	<div  class="text-dark" style="align-content:left;">
		<strong>RIA SHIPPING (OPC) PVT LTD</strong><br>
		ALJANTH TEXTILE BUILING<br>
		OLD NO 101, NEW NO 32, 3<sup>RD</sup> FLOOR<br>
		ARMENIAN STREET, MANNADY,NEAR KACHALEESWARAR TEMPLE<br>
		CHENNAI, TAMIL NADU, INDIA 600001<br>
		EMAIL: import@riashipping.com<br>
		H/P +91 99626 9455 PTC Ms.Amutha
	  </div>
</div>

	<!--port 4th row-->
		<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
			<p><textarea>Monthly web updates1</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
			<p><textarea>Monthly web updates1</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
			<p><textarea>Monthly web updates2</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
			<p><textarea>Monthly web updates2</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
			<p><textarea>Monthly web updates3</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
			<p><textarea>Monthly web updates3</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
			<p><textarea>Monthly web updates4</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
			<p><textarea>Monthly web updates4</textarea></p>
		</div>
<!--port 5th row-->
<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
	<p><textarea>Monthly web updates1</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
	<p><textarea>Monthly web updates1</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
	<p><textarea>Monthly web updates2</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
	<p><textarea>Monthly web updates2</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
	<p><textarea>Monthly web updates3</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
	<p><textarea>Monthly web updates3</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-none d-sm-block">
	<p><textarea>Monthly web updates4</textarea></p>
</div>
<div class=" p-2 mb-3 col-3 text-center d-block d-sm-none small">
	<p><textarea>Monthly web updates4</textarea></p>
</div>

		<!--details-->

		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-none d-sm-block">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>
		<div class=" p-2 mb-3 col-4 text-center d-block d-sm-none small">
			<p class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></p>
		</div>


	 

	 
	
	
			<div class="text-center border py-4 col-md text-secondary">
			<p>[disclaimer-short]</p>
		</div>

</div>
  </div>
 
