<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="c-sidebar-nav-link" routerLink="/">
            <button>
                <i class="fa fa-home" aria-hidden="true"></i>
            </button>
            Home</a>
    </li>
    <li class="c-sidebar-nav-item" routerLinkActive="active">
        <a class="c-sidebar-nav-link" routerLink="/quotes">
            <button>
                    <i class="fa fa-file-text" aria-hidden="true"></i>
            </button>
            Quotes</a>
    </li>
    <li class="c-sidebar-nav-item" routerLinkActive="active">
        <a class="c-sidebar-nav-link" routerLink="/searchschedule">
            <button>
                    <i class="fa fa-list" aria-hidden="true"></i>
            </button>
            Search</a>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown" *ngIf= "service.isAdmin">
        <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <button>
                <i class="fa fa-asterisk" aria-hidden="true"></i>
            </button>
            Master-Data </a>
        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/pack">
                    <button>
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </button>
                    Package</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/port">
                    <button>
                        <i class="fa fa-ship" aria-hidden="true"></i>
                    </button>
                    Port</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/vesselDetails">
                    <button>
                        <i class="fa fa-gears" aria-hidden="true"></i>
                    </button>
                    Vessel Management</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/partner">
                    <button>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </button>
                    Partner</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/vesselcharges">
                    <button>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </button>
                    Operator Vesel Charges</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/currency">
                    <button>
                        <i class="fa fa-dollar" aria-hidden="true"></i>
                    </button>
                    Currency</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/chargeDetails">
                    <button>
                        <i class="fa fa-gg" aria-hidden="true"></i>
                    </button>
                    ChargeDetails</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/partnerPort">
                    <button>
                            <i class="fa fa-fort-awesome" aria-hidden="true"></i>
                    </button>Port Charges</a>
            </li>

            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/user">
                    <button>
                            <i class="fa fa-user" aria-hidden="true"></i>
                    </button>User Management</a>
            </li>
     
        </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <button>
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
            </button> Listing </a>
        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/bol">
                    <button>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                    </button>
                    Bill of Landing</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" routerLink="/invoice">
                    <button>
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </button>
                    Invoice</a>
            </li>

        </ul>
    </li>
</ul>
  