 
  <div class="row pb-0">
    
     
    <div class="col-md-2 text-center  bg-top">
      <h5 class="list-group-item-heading  text-white"> {{item.vesselSchedule.vesselName}}</h5>
      <span class="summaryTitle"> {{item.partner.partnerName}}</span>
    </div>
    <div class="col text-center ">
      <h6> <i class="fa fa-calendar"></i> {{item.startDate |date:'mediumDate'}}</h6>
      <p class="list-group-item-text"> {{item.originPort.portDescription}}</p>
      <p> <span class="summaryTitle">{{item.originPort.portCode}}</span></p>
    </div>
    <div class="col text-center">
      <h6>{{utils.calculateDiff(item.endDate,item.startDate)}} <i>days</i></h6>
      <svg height="5" width="125">
        <line x1="0" y1="0" x2="120" y2="0" style="stroke:#6190b0;stroke-width:4" />
      </svg>
     
      <p class="list-group-item-text">
        <small> <i>
            {{getTransits(item).tranMessage}}<br>
            {{getTransits(item).tranPorts}}
          
          </i>

            <!-- {{ this.transitsLong.length > 0 ? this.transitsLong.toString() : "No Transits"}} -->
           </small>
      </p>
    </div>
    <div class="col text-center">
      <h6> <i class="fa fa-calendar"></i> {{item.endDate |date:'mediumDate'}}</h6>
      <p class="list-group-item-text ">  {{item.destinationPort.portDescription}}</p>
      <p><span class="summaryTitle">{{item.destinationPort.portCode}}</span></p>
          
    </div>
    <div class="col text-center">
      <h6> Local Charges</h6> 
      <p class="list-group-item-text text-danger"> <strong>{{item.partner.originPortCharges.payableSum |currency:item.partner.originPortCharges.currency.currencyCode}}</strong> </p>
    </div>
    <div class="col text-center">
      <h6> Frieght </h6>
      <p class="list-group-item-text text-danger"><strong> {{item.chargeAmount*searchItem.qty |currency: item.currency.currencyCode}} </strong></p>
    </div>
   
    
  </div>
 

 