<section class="hero-area bg-color overly p-0">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<swiper *ngIf="data" [config]="config" style="height: 150px;">
					<div class="swiper-wrapper">
						<div class="swiper-slide" *ngFor="let slide of data">
							<div class="event-list">
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-sm-6 col-md-2">
										<div class="card text-white bg-info text-left">
											<div class="card-body">
												<!-- <div class="text-muted text-right">
																	  <svg class="c-icon c-icon-2xl">
																		<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-people"></use>
																	  </svg>
																	</div> -->
												<!-- <div class="flex-column justify-content-between align-items-center">
													<h4>{{slide.originPort.portCode}}</h4>
													<span class="summaryTitle">{{slide.originPort.cityDescription}}</span>
													<br>
													<span class="summaryDate">
														</span>
												</div> -->
												<div class="text-value-lg">{{slide.originPort.portCode}}</div>
												<small class="text-white text-uppercase font-weight-bold">{{slide.originPort.cityDescription}}</small><br>
												<small class="text-white text-uppercase font-weight-bold"><i class="fa fa-calendar-check-o"></i>{{slide.startDate| date:'mediumDate'}}</small>

																	<div class="progress progress-white progress-xs mt-3">
																	  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
											</div>
										</div>
									</div>
									<div class="col-md-2"></div>
									<div class="col-md-2"></div>
									<div class="col-sm-6 col-md-2">
										<div class="card text-white bg-info text-right">
											<div class="card-body">
												<!-- <div class="text-muted text-right">
																		  <svg class="c-icon c-icon-2xl">
																			<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-people"></use>
																		  </svg>
																		</div> -->
												<!-- <div class="flex-column justify-content-between align-items-center">
													<h4>{{slide.destinationPort.portCode}}</h4>
													<span class="summaryTitle">{{slide.destinationPort.cityDescription}}</span>
													<br>
													<span class="summaryDate">
														<i class="fa fa-calendar-check-o"></i> {{slide.endDate| date:'mediumDate'}}</span>
												</div> -->
												<div class="text-value-lg">{{slide.destinationPort.portCode}}</div>
												<small class="text-white text-uppercase font-weight-bold">{{slide.destinationPort.cityDescription}}</small><br>
												<small class="text-white text-uppercase font-weight-bold"><i class="fa fa-calendar-check-o"></i>{{slide.endDate| date:'mediumDate'}}</small>

																	<div class="progress progress-white progress-xs mt-3">
																	  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
												<!-- <div class="text-value-lg">87.500</div><small class="text-muted text-uppercase font-weight-bold">Visitors</small>
																		<div class="progress progress-white progress-xs mt-3">
																		  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																		</div> -->
											</div>
										</div>
									</div>
									<div class="col-md-2"></div>

								</div>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<!-- <div class="swiper-pagination"></div> -->
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</swiper>
			</div>
		</div>
		<div class="row">
			<div class="col-12 align-items-center">
				<!-- Header Contetnt -->
				<div class="content-block">

				</div>
			</div>
		</div>
	</div>
</section>

<!--Get Started end-->