<div class="container p-0">
    <div class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="card">
               <app-current-order [index]="0" [itemData]  = "itemData"  [searchItem]="searchParams" [oriFxVal]="oriFxVal" [destFxVal]="destFxVal"></app-current-order>
            </div>

            <div class="card">
               
                   
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="price-head">
                        <h3> Cancellation & Refund Details</h3>
                    </div>
                    <div class="price-block">
                        <div class="price-content">
                            <h4>Before 24 Hrs</h4>
                            <div class="price-text">
                                <p>$28/<small style="font-size: 10px;"> hour</small></p>
                            </div>
                            <ul>
                                <li>Wipe Cabinets</li>
                                <li>Wipes Tops</li>
                                <li>Dust Tops of Cabinets</li>
                            </ul>
                        </div>
                        <div class="price-content">
                            <h4>Before 2 Days</h4>
                            <div class="price-text">
                                <p>$29/ <small style="font-size: 10px;">hour</small></p>
                            </div>
                            <ul>
                                <li>Dust Counters</li>
                                <li>Dust Light</li>
                                <li>Wipe Countertops</li>
                            </ul>
                        </div>
                        <div class="price-content">
                            <h4>Before 4 Days</h4>
                            <div class="price-text">
                                <p>$29/ <small style="font-size: 10px;">hour</small></p>
                            </div>
                            <ul>
                                <li>Make Beds</li>
                                <li>Dust Furniture</li>
                                <li>Dust Mini-blinds</li>
                            </ul>
                        </div>
                        <div class="text-center mt30"><button (click)="bookMyOrder();" class="btn btn-primary btn-sm">book your order now</button></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <app-payment-page></app-payment-page>
            </div>
        </aside>
        
     </div>
</div>