 
.tab-contents {
  background-color: rgb(230, 228, 228)
}

.nav-tabs .nav-link,
.nav-tabs {
  border: none;
  color: black
}

.nav-tabs .nav-link:focus {
  border-bottom: 3px solid #355b84;
  font-weight: 700
}

.selected-tab {
  background-color: rgb(231, 234, 238)
}



@media(max-width:767px) {
  
  .nav-tabs .nav-link,
  .nav-tabs {
      border: none;
      color: black;
      font-size: 13px
  }

   
}

@media(max-width: 567px) {
  
  .nav-tabs {
      padding-top: 15px;
      padding-left: 5px;
      padding-right: 5px;
  }

   
}

.fa {
 
  width: 10%;
  margin-left: 5%;
  margin-right:5%;
  margin-top: 5%;
  text-align: center
}

.fa-balance-scale {
  color: #355b84;
}

.fa-cubes {
  color: #355b84;
}

.fa-plane {
  color: #355b84;
}

@media only screen and (max-width: 600px) {
  .card {
      margin: auto;
 
      width: 98%;
    
      padding-bottom: 10px !important;
 
      padding-top: 0px !important
  }

  .fa {
     font-size: medium;
      width: 15%;
      margin-left: 5%;
      margin-right:5%;
  
      margin-top: 5%;
      text-align: center
  }
} 

 