<div class="container-fluid pt-1 bg-white">
 
  <div class="row p-0">
    <div class="col-md-12 p-0">
      <div class="card shadow p-0">
     
        <ul class="nav nav-tabs  nav-justified border text-right" id="myTab" role="tablist">
            <li class="nav-item"> <a class="nav-link"  routerLinkActive="active" routerLink="fcl"><i class="fa fa-balance-scale fa-2x" aria-hidden="true"></i>  FCL</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link" routerLinkActive="active" routerLink="lcl"><i class="fa fa-cubes fa-2x" aria-hidden="true"></i> LCL</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link" routerLinkActive="active" routerLink="air"><i class="fa fa-plane fa-2x" aria-hidden="true"></i>  Air</a></li>
        </ul>
        <div class="card-body fill">
          <router-outlet></router-outlet>
        </div>
   
      </div>
     
      <!--<app-quote-details></app-quote-details>-->
    </div>
  </div>
 </div>