
.mt-100 {
  margin-top: 100px
}

.bg-brand
{
  background-color:#355b84 ;
}
.bg-brand-secondary
{
  background-color: #bacbdc;
}



.marginon-top {
  margin-top: -3px
}

.ticket-button {
  background-color: #ff7043;
  color: #fff
}

.ticket-button:hover {
  background-color: #ff7043;
  color: #fff
}



.bg-blue {
  background: blue
}

.dotted-line {
  border: 1px dashed #fff
}

.img-fluid {
  width: 114px;
  height: auto
}

.bg-top {
  background: #8E24AA
}