<div class="container mt-5 mb-5 pr-6 bg-white">
 <hr>
    <div class="row g-0">

       
        <div class="col-md-8 p-3">
          <div class="row border border-default">
	
            <div class="bg-secondary text-center p-2 col-md-12">
              <p >Fare(s) Details</p>
            </div>
  
     
            
            <div class="bg-primary lead text-white p-2 mb-3 col-6 text-center d-none d-sm-block">
              <p class="lead text-white">Frieght Payable AT</p>
            </div>
            <div class="bg-primary text-white p-2 mb-3 col-6 text-center d-block d-sm-none small">
              <p class="lead text-white">Payable AT</p>
            </div>
            <div class="bg-primary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
              <p class="lead text-white">Origin</p>
            </div>
            <div class="bg-primary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
              <p class="lead text-white">Ori</p>
            </div>
            <div class="bg-primary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
              <p class="lead text-white">Destination</p>
            </div>
            <div class="bg-primary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
              <p class="lead text-white">Dest</p>
            </div>

            <div class="py-2 col-3 text-center d-none d-sm-block small">
              <p>Pol</p>
            </div>
            <div class="py-2 col-3 text-center d-block d-sm-none small">
              <p>Pol</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>{{itemData.originPort.cityDescription}} </p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>Pod</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>{{itemData.destinationPort.cityDescription}}</p>
            </div>
          

            <div class="py-2 col-3 text-center d-none d-sm-block small">
              <p>No of Containers</p>
            </div>
            <div class="py-2 col-3 text-center d-block d-sm-none small">
              <p>Cont #</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>{{searchParams.qty}}</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>Size</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>{{itemData.package.packageName}}</p>
            </div>
            <div class="py-2 col-3 text-center d-none d-sm-block small">
              <p>Exchange Rate -{{itemData.charges.originCurrency.currencyCode}}</p>
            </div>
            <div class="py-2 col-3 text-center d-block d-sm-none small">
              <p>Ex Rate -{{itemData.charges.originCurrency.currencyCode}}</p>
            </div>
            <div class="py-2 odd col-3 text-center">
              <p>{{oriFxVal|currency:itemData.charges.originCurrency.currencyCode}} </p>
            </div>
            <div class="py-2 col-3 text-center d-none d-sm-block small">
              <p>Exchange Rate -{{itemData.charges.destinationCurrency.currencyCode}}</p>
            </div>
            <div class="py-2 col-3 text-center d-block d-sm-none small">
              <p>Ex Rate -{{itemData.charges.destinationCurrency.currencyCode}}</p>
            </div>
            <div class="py-2  col-3 text-center">
              <p>{{destFxVal |currency: itemData.charges.destinationCurrency.currencyCode}}</p>
            </div>
          </div>
          


           
       

            
            
          <div class="row border border-default">
            <div class="py-2 bg-secondary lead text-white col-6 text-center d-none d-sm-block gateway">
              <p class="lead text-white">{{itemData.originPort.cityDescription}} Charges</p>
            </div>
            <div class="py-2 bg-secondary lead text-white col-6 text-center d-block d-sm-none">
              <p class="lead text-white">{{itemData.originPort.cityDescription}}</p>
            </div>
            <div class="py-2  bg-secondary lead text-white col-3 text-center">
              <p class="lead text-white">{{itemData.charges.originCurrency.currencyCode}} </p>
            </div>
            <div class="py-2 bg-secondary lead text-white even col-3 text-center">
              <p class="lead text-white">USD</p>
            </div>                          
        
          
          
            </div>

            <div class="row border border-default" *ngFor="let charge of originSummary">
              <div class="py-2 col-6 text-left d-none d-sm-block gateway">
                <p class="lead text-black">{{charge.chargeDetail.name}}</p>
              </div>
              <div class="py-2 col-6 text-left d-block d-sm-none">
                <p class="lead text-black">{{charge.chargeDetail.name}}</p>
              </div>
              <div class="py-2 odd col-3 text-center">
                <div *ngIf="charge.chargeDetail.name == blFee ;else templateName"> 
                  <span class="font-sm d-block text-danger"><strong>{{charge.chargeAmount* searchParams.blCount |currency : itemData.charges.originCurrency.currencyCode}} </strong></span>
                </div>
                <ng-template #templateName>    
                  <span class="font-sm d-block text-danger"><strong>{{charge.chargeAmount* searchParams.qty |currency : itemData.charges.originCurrency.currencyCode}} </strong></span>
                </ng-template>
             
              </div>
              <div class="py-2 even col-3 text-center">
                <div *ngIf="charge.chargeDetail.name == blFee ;else templateNameTotal"> 
                <span class="font-sm d-block text-danger"><strong>{{(charge.chargeAmount* searchParams.blCount)/oriFxVal |currency}}</strong></span>
                </div>
                <ng-template #templateNameTotal>    
                  <span class="font-sm d-block text-danger"><strong>{{(charge.chargeAmount* searchParams.qty)/oriFxVal |currency}}</strong></span>
                </ng-template>

              </div>
            
            
             
          
            
            
            </div>

            <div class="row border border-default">
              <div class="py-2 bg-primary lead text-white col-6 text-center d-none d-sm-block gateway">
                <p class="lead text-white">Total</p>
              </div>
              <div class="py-2 bg-primary lead text-white col-6 text-center d-block d-sm-none">
                <p class="lead text-white">Total</p>
              </div>
              <div class="py-2 bg-primary lead text-white col-3 text-center">
                <p class="lead text-white">{{itemData.charges.originCharges |currency : itemData.charges.originCurrency.currencyCode }} </p>
              </div>
              <div class="py-2 bg-primary lead text-white col-3 text-center">
                <p class="lead text-white">{{itemData.charges.originCharges/oriFxVal|  currency}}</p>
              </div>
            
            </div>

       
            <div class="row border border-default">
              <div class="py-2 bg-secondary lead text-white col-6 text-center d-none d-sm-block gateway">
                <p class="lead text-white">{{itemData.destinationPort.cityDescription}} Charges</p>
              </div>
              <div class="py-2 bg-secondary lead text-white col-6 text-center d-block d-sm-none">
                <p class="lead text-white">{{itemData.destinationPort.cityDescription}}</p>
              </div>
              <div class="py-2  bg-secondary lead text-white col-3 text-center">
                <p class="lead text-white">{{itemData.charges.destinationCurrency.currencyCode}} </p>
              </div>
              <div class="py-2 bg-secondary lead text-white even col-3 text-center">
                <p class="lead text-white">USD</p>
              </div>                          
          
            
            
              </div>
                 
         

     
            <div class="row border border-default" *ngFor="let charge of destinationSummary">
              
              <div class="py-2 col-6 text-left d-none d-sm-block gateway">
                <p class="lead text-black">{{charge.chargeDetail.name}}</p>
              </div>
              <div class="py-2 col-6 text-left d-block d-sm-none">
                <p class="lead text-black">{{charge.chargeDetail.name}}</p>
              </div>
              <div class="py-2 odd col-3 text-center">
                <div *ngIf="charge.chargeDetail.name == blFee ;else templateName"> 
                  <span class="font-sm d-block text-danger"><strong>{{charge.chargeAmount* searchParams.blCount |currency : itemData.charges.destinationCurrency.currencyCode}} </strong></span>
                </div>
                <ng-template #templateName>    
                  <span class="font-sm d-block text-danger"><strong>{{charge.chargeAmount* searchParams.qty |currency : itemData.charges.destinationCurrency.currencyCode}} </strong></span>
                </ng-template>
             
              </div>


              <!-- <div class="py-2 odd col-3 text-center">
                <p class="text-danger">{{charge.chargeAmount*searchParams.qty |currency : itemData.charges.destinationCurrency.currencyCode}} </p>
              </div> -->
              <div class="py-2 even col-3 text-center">
                <span class="font-sm d-block text-danger"><strong>{{(charge.chargeAmount* searchParams.qty )/destFxVal |  currency}} </strong></span>
              </div>
            
            
             
          
            
            
            </div>

            <div class="row border border-default">
              <div class="py-2 bg-primary lead text-white col-6 text-center d-none d-sm-block gateway">
                <p class="lead text-white">Total</p>
              </div>
              <div class="py-2 bg-primary lead text-white col-6 text-center d-block d-sm-none">
                <p class="lead text-white">Total</p>
              </div>
              <div class="py-2 bg-primary lead text-white col-3 text-center">
                <span class="font-sm text-white"><strong>{{itemData.charges.destinationCharges |currency : itemData.charges.destinationCurrency.currencyCode}} </strong></span>
              </div>
              <div class="py-2 bg-primary lead text-white col-3 text-center">
                <span class="font-sm text-white"><strong>{{itemData.charges.destinationCharges/destFxVal |  currency }} </strong></span>
              </div>
            
            </div>
      </div>
      <div class="col-md-4 col-sm-14 p-0">

     
        <app-summary [itemData]  = "itemData"  [searchParams]="searchParams" [oriFxVal]="oriFxVal" [destFxVal]="destFxVal"></app-summary>
       </div>
     </div>

     <!-- <div class="row g-0">
      <div class="col-md-12">
        
       
        <button class="bnt btn-sm btn-success pull-right" (click)="gotoNext();"> <i class="fa fa-check"></i>  Continue & Book Now</button>
          
      </div>
      </div> -->

</div>

 