<div class="container-fluid p-1">

<div class="list-group-item p-0 clearfix">
  <div class="row pb-0">
    
    <div class="col-md-1 col-sm-12 ">
                         
      <div class="badge-package brand-color text-center">{{index+1}} </div>
    </div>
    <div class="col-md-2 col-sm-12">
      <span class="list-group-item-heading"> {{itemData.vesselSchedule.vesselName}}</span>

    </div>


    <div class="col">
      <span class="list-group-item-heading"> <i class="fa fa-calendar"></i> {{itemData.startDate |date:'mediumDate'}}</span>
    
      <p> <span class="summaryTitle">{{itemData.originPort.portCode}}</span></p>
      <p class="list-group-item-text"> {{itemData.originPort.portDescription}}</p>
    
    </div>
    <div class="col">
      <small><strong>{{itemData.transitDays}} <i>days</i></strong></small>
      <!-- <svg height="5" width="125">
        <line x1="0" y1="0" x2="120" y2="0" style="stroke:#6190b0;stroke-width:4" />
      </svg>
      -->
      <p class="list-group-item-text">
        <small>
          <i>
          {{transi.tranMessage}} <br> 
           {{transi.tranPorts}}
          
          </i>
        </small>
            
      
      </p>
    </div>
    <div class="col">
      <span class="list-group-item-heading"> <i class="fa fa-calendar"></i> {{itemData.endDate |date:'mediumDate'}}</span>
      <p><span class="summaryTitle">{{itemData.destinationPort.portCode}}</span></p>
      <p class="list-group-item-text ">  {{itemData.destinationPort.portDescription}}</p>
    
          
    </div>
    <div class="col-md-4 col-sm-12" *ngIf="!destFxVal&&!oriFxVal">
      <div class="row">

        <div class="col">
          <small>  Origin Charges</small>
          <div class="badge-package brand-color p-0"> 
                
            {{itemData.charges.originCharges |currency:itemData.charges.originCurrency.currencyCode }}
          </div>
        </div>
        
        <div class="col">
          <small>  Freight Charges</small>
          <div class="badge-package brand-color p-0"> 
             
            {{(itemData.chargeAmount * searchItem.qty)  |currency }}
          </div>
        </div>
        <div class="col">
          
            <button   class="btn btn-solid btn-sm mt-0 btn-secondary font-sm" (click)="isShowDetails=!isShowDetails"  >Details<i class="fa fa-ellipsis-v"></i></button><br>

         
             <button  class="btn btn-solid btn-sm mt-0 btn-secondary font-sm"  (click) = "viewFares(itemData)">Fares<i class="fa fa-arrow-right"></i></button>
                             
           
        </div>
     
      
      </div>
    
          
    </div>
   
    <div class="col-md-4 col-sm-12" *ngIf="destFxVal&&oriFxVal">
      <div class="row">

        <div class="col">
          <div class="badge-package brand-color">        
            {{((itemData.chargeAmount * searchItem.qty) + (itemData.charges.destinationCharges/destFxVal)   + (itemData.charges.originCharges/oriFxVal)) |currency }}
          </div>
          
          </div>
          <div class="col">
            <div class="badge-package brand-color">        
              {{((itemData.chargeAmount * searchItem.qty) + (itemData.charges.destinationCharges/destFxVal)   + (itemData.charges.originCharges/oriFxVal)) |currency }}
            </div>
            
            </div>

            <div class="col">
              <button class="btn btn-primary" type="button" (click)="isShowSummary=!isShowSummary">
              Details<i class="fa fa-ellipsis-v"></i>
            </button>
              
              </div>
      </div>
    
     
        
    </div>
     
  </div>
</div>


<div id="demo"  *ngIf="isShowDetails">
           
  <div class="track">

  
    <div class="{{itemData.vesselSchedule.originPort.portCode == itemData.originPort.portCode? 'step active': 'step'}}"> 
      <span class="icon"> <i class="fa fa-ship"></i> </span> <span class="text">{{itemData.vesselSchedule.originPort.portCode}}</span> 
    </div>
  
     <div   *ngFor="let detail of itemData.vesselSchedule.details | sortBy:'asc':'expDeparture'" class="{{detail.transitPort.portCode ==itemData.originPort.portCode || detail.transitPort.portCode ==itemData.destinationPort.portCode ? 'step active': 'step'}}" ><span class="icon"> <i class="fa fa-ship"></i> </span> <span class="text"> {{detail.transitPort.portCode}}</span> </div>
    
    
    <div class="{{itemData.vesselSchedule.destinationPort.portCode ==itemData.destinationPort.portCode? 'step active': 'step'}}"> <span class="icon"> <i class="fa fa-ship"></i> </span> <span class="text">{{itemData.vesselSchedule.destinationPort.portCode}}</span> </div>
</div>



<ul class="row">
  <li class="col">
    <figure class="itemside mb-3">
       
        <figcaption class="info align-self-center">
            <p class="title">Origin city : {{itemData.vesselSchedule.originPort.cityDescription}} <br>Origin Port :{{itemData.vesselSchedule.originPort.portDescription}}
            <br>Origin Country : {{itemData.vesselSchedule.originPort.countryDescription}}</p>
            <span class="text-muted">Arrival Date : {{itemData.vesselSchedule.estArrOriDate |date:'mediumDate'}} <br>
             Berth Date:{{itemData.vesselSchedule.estBerthDate |date:'mediumDate'}}<br>
             CutOff Date :{{itemData.vesselSchedule.estCutOffDate |date:'mediumDate'}}</span>
            <p class="title">Departure Date:{{itemData.vesselSchedule.estDepDate |date:'mediumDate'}}</p>

        </figcaption>
    </figure>
</li>

    <li class="col" *ngFor="let detail of itemData.vesselSchedule.details | sortBy:'asc':'expDeparture'">
        <figure class="itemside mb-3" >
            <figcaption class="info align-self-center">
                <p class="title">Transit City : {{detail.transitPort.cityDescription}}<br> Transit Port : {{detail.transitPort.portDescription}}
                <br>Transit Country : {{detail.transitPort.countryDescription}}
                </p> <span class="text-muted">Arrival Date: {{detail.expArrival |date:'mediumDate'}} </span>
                <p class="title">Departure Date:{{detail.expDeparture |date:'mediumDate'}}</p>
            </figcaption>
        </figure>
    </li>
   
    <li class="col">
        <figure class="itemside mb-3">

            <figcaption class="info align-self-center">
              <p class="title">Destination city : {{itemData.vesselSchedule.destinationPort.cityDescription}} <br>
                Destination Port : {{itemData.vesselSchedule.destinationPort.portDescription}}<br>
                Destination Country : {{itemData.vesselSchedule.destinationPort.countryDescription}}</p>
           
                <p class="title">Arrival Date:{{itemData.vesselSchedule.estArrDestDate  |date:'mediumDate'}}</p>
            </figcaption>
        </figure>
    </li>
  
</ul>

 

</div>
<div id="summaryDetails" *ngIf="isShowSummary" >
  <div class="row">
    <div class="col-8 col-md-8 col-sm-12">
      <app-payment-page></app-payment-page>
    </div>
    <div class="col-4 col-md-4 col-sm-12">
      <app-summary [itemData]  = "itemData"  [searchParams]="searchItem" [oriFxVal]="oriFxVal" [destFxVal]="destFxVal"></app-summary>
    </div>
  </div>
 
</div>
 
</div>