
.list-group-item-heading
{
    font-size: 16px;
    color: #355b83;
    font-weight: 700;
}
.padLeft
{
    padding-left: 3rem;
}
@media   (min-width: 1400px){
.padLeft
{
    padding-left: 9rem;
}
}
@media   (max-width: 400px){
    .list-group-item 
    {
        font-size: 12px;
    }

    .list-group-item-heading
    {
        font-size: 12px;
    color: #355b83;
    font-weight: 800;
    }

    .padLeft
{
    padding-left: 0;
}

}


.track {
    position: relative;
    background-color: #ddd;
 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
  }
  
  .track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
   
  }
  
  .track .step.active:before {
    background: green;
  }
  
  .track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
    background: grey;
  }
  
  .track .step.active .icon {
    background:green;
    color: #fff
  }
  
  .track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: grey;
  }
  
  .track .step.text {
    font-weight: 400;
    color: #000
  }
  .track .step.active .text {
    font-weight: 400;
    color: #000
  }
  
  .track .text {
    display: block;
    margin-top: 7px
  }
  
  .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
  }
  
  .itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
  }

  
  .itemside .info {
    padding-left: 15px;
    padding-right: 7px
  }
  
  .itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
  }
  
  