
.list-group-item-heading
{
    font-size: 16px;
    color: #355b83;
    font-weight: 700;
}
.padLeft
{
    padding-left: 3rem;
}
@media   (min-width: 1400px){
.padLeft
{
    padding-left: 9rem;
}
}
@media   (max-width: 400px){
    .list-group-item 
    {
        font-size: 12px;
    }

    .list-group-item-heading
    {
        font-size: 12px;
    color: #355b83;
    font-weight: 800;
    }

    .padLeft
{
    padding-left: 0;
}

}